<h1>Form Builder</h1>
<button type="button">Multiple choice</button>
<button type="button" (click)="createTextForm()">Text</button>

<div [formGroup]="fbForm">
    <div formArrayName="questionForms">
        <div *ngFor="let qf of questionForms.controls; let i = index" [formGroupName]="i">
            <h3>Question {{ i + 1 }}</h3>
            <input type="text" formControlName="question">
            <br>
            <br>
            <input type="text" placeholder="Their answer will go here..." disabled>
        </div>
    </div>
</div>